//
   Created by zmark_000 on 11/11/2016.

//div
//    h1 Active Games
//    #games
//        - for (var i = 0; i < activeGames.length; i++)
//            a(href=`game/${activeGames}`) #{activeGames[i]}
head
    title Socket Scrabble
    link(rel='stylesheet' href='../public/css/style.css')
body
    script(src="/socket.io/socket.io.js")
    script(src="/pixi.js/bin/pixi.js")
    script(src="../public/js/tile.js")
    script(src="../public/js/gridSquare.js")
    script(src="../public/js/grid.js")
    script(src="../public/js/bag.js")
    script(src="../public/js/rack.js")
    script(src="../public/js/main.js")