//
   Created by zmark_000 on 09/11/2016.

head
    link(rel ='stylesheet', href='./public/css/style.css')
body.preload
    div
        h1 Active Games
        #games
            - for (var i = 0; i < activeGames.length; i++)
                div
                    a(href=`game/${activeGames[i]}`) #{activeGames[i]}
            a(href='#openModal') Create Game
        div#openModal.modalDialog
            div
                a(href='#close' title='Close' class='close') X
                h2 Search Player
                form(id="playerSearchForm" action="/createGame" method="post")
                    input(type='text' placeholder='Username' id='usernameInput' name='username' required)
                    input(type='submit' value='Search')
        .profile #{username}
            #logout
                a(href='/logout') Log Out

    script.
        window.onload = function(){document.getElementsByTagName("body")[0].classList.remove("preload")};

        document.getElementById('playerSearchForm').onsubmit = function(_event)
        {
            _event.preventDefault();

            var XHR = new XMLHttpRequest();
            XHR.addEventListener('load', function(event)
            {
                var res = JSON.parse(event.currentTarget.response);

                if (res.playerFound)
                {
                    alert("Player Found - Game Created");
                }
                else
                {
                    alert("No player with that username found");
                }
            });

            XHR.addEventListener('error', function(event)
            {
                alert('fail')
            });

            XHR.open('POST', '/createGame');
            XHR.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            XHR.send('username='+document.getElementById("usernameInput").value);
        }